body {
  padding: 100px 0;
}

.btn {
  padding: 6px 12px 7px
}

.datepicker-wrap {
  position: relative;
}

.ui-datepicker-trigger {
  display: none;
}

.ui-datepicker.ui-corner-all {
  border-radius: 0 0 6px 6px;
}

#ui-datepicker-div {
  top: 100% !important;
  left: 0 !important;
}

@media(min-width:768px) {
  #ui-datepicker-div {
    top: 100% !important;
    left: 100% !important;
    margin-left: -40px !important;
  }
}

.ui-datepicker {
  width: 17em;
  padding: 0;
  border: 1px solid #dadada;
  font: 300 14px 'open sans';
  -webkit-box-shadow: 5px 5px 18px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 5px 5px 18px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 5px 5px 18px 0px rgba(0, 0, 0, 0.13);
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 7px 0;
  background: #fdc81b;
  border: 0;
  margin: -1px;
  border-radius: 0;
}

.ui-datepicker table {
  margin: .2em 0;
}

.ui-datepicker th {
  color: #1e1e1e;
}

.ui-datepicker td {
  padding: 0;
}

.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center;
  padding: 0;
  height: 34px;
  width: 34px;
  line-height: 34px;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font: 400 16px 'open sans';
  color: #1e1e1e;
  border-color: #fdc81b;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 0;
  background: transparent url(none);
  color: #949094;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #e6e6e6;
  color: #1e1e1e;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: #fdc81b;
  color: #1e1e1e;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 8px;
}

.ui-widget-header .ui-state-hover,
.ui-widget-header .ui-state-focus {
  background: transparent none;
  border: 0;
  top: 8px;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}

.ui-datepicker-prev .ui-icon,
.ui-datepicker-next .ui-icon {
  background-image: none;
}

.ui-datepicker-prev .ui-icon:before,
.ui-datepicker-next .ui-icon:before {
  content: '\f0d9';
  font-family: fontAwesome;
  color: #fff;
  display: block;
  vertical-align: middle;
  text-align: center;
  text-indent: 0;
}

.ui-datepicker-next .ui-icon:before {
  content: '\f0da';
}




  .plasma {
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .plasma:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(0.9);
  }

  #linha_plasma {
    display: flex;
    justify-content: center;
    color: white;
  }

  .dia1 {
    border: 1px solid black;
    border-top-left-radius: 10px;
    background-color: #E64A4D;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia1:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia2 {
    border: 1px solid black;
    background-color: #E64A4D;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia2:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia3 {
    border: 1px solid black;
    background-color: #E64A4D;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia3:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia4 {
    border: 1px solid black;
    background-color: #E64A4D;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia4:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia5 {
    border: 1px solid black;
    background-color: #E64A4D;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia5:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia6 {
    border: 1px solid black;
    background-color: #E64A4D;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia6:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia7 {
    border: 1px solid black;
    border-top-right-radius: 10px;
    background-color: #E64A4D;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia7:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia8 {
    border: 1px solid black;
    background-color: #D6D6D6;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia8:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia9 {
    border: 1px solid black;
    background-color: #D6D6D6;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia9:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia10 {
    border: 1px solid black;
    background-color: #D6D6D6;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia10:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia11 {
    border: 1px solid black;
    background-color: #D6D6D6;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia11:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia12 {
    border: 1px solid black;
    background-color: #D6D6D6;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia12:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia13 {
    border: 1px solid black;
    background-color: #D6D6D6;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia13:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia14 {
    border: 1px solid black;
    background-color: #D6D6D6;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia14:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia15 {
    border: 1px solid black;
    background-color: #5A95CA;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia15:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia16 {
    border: 1px solid black;
    background-color: #5A95CA;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia16:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia17 {
    border: 1px solid black;
    background-color: #5A95CA;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia17:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia18 {
    border: 1px solid black;
    background-color: #5A95CA;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia18:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia19 {
    border: 1px solid black;
    background-color: #5A95CA;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia19:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia20 {
    border: 1px solid black;
    background-color: #5A95CA;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia20:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia21 {
    border: 1px solid black;
    background-color: #5A95CA;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia21:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia22 {
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    background-color: #E3AC3F;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia22:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia23 {
    border: 1px solid black;
    background-color: #E3AC3F;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia23:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia24 {
    border: 1px solid black;
    background-color: #E3AC3F;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia24:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia25 {
    border: 1px solid black;
    background-color: #E3AC3F;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia25:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia26 {
    border: 1px solid black;
    background-color: #E3AC3F;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia26:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia27 {
    border: 1px solid black;
    background-color: #E3AC3F;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia27:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  .dia28 {
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    background-color: #E3AC3F;
    color: black;
    font-size: 6vw;
    width: 11vw;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 6px;
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: 0.1s;
    transition: all 0.1s;
  }

  .dia28:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }

  #semana1 {
    display: flex;
    justify-content: center;
    color: white;
  }

  #semana2 {
    display: flex;
    justify-content: center;
    color: white;
  }

  #semana3 {
    display: flex;
    justify-content: center;
    color: white;
  }

  #semana4 {
    display: flex;
    justify-content: center;
    color: white;
  }
